html{
     background-color: white;
     color: #031248
}
html,body{
    height: 100%;
}
body,
.site{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
ul{list-style-type: none;}
a{text-decoration: none;}
.site-header{
    padding-top: 0.5rem;
    display: inline-block;
    background-color: #B1E6F4 ;
    align-items: center;
    div.identity{
        border-bottom: 0.5rem solid white;
        color: gray;
        display:flex;
        justify-content: space-between;
    .brand{
        display: flex;
        background-color: white;
        padding: 0 0.5rem;
        border-top-right-radius: 1rem;
    }
        div.col-md-6{
            a{
                color: darkgray;
            }   
        }
        div.site-logo{
            img{
            height: 2.5rem;
            width: 2.5rem;
            margin: 0.5rem;
            margin-bottom: 0;
            }
        }

        .site-branding{
            text-align: center;
            display: inline-block;
            justify-content: start;    
        p.site-description{
            font-size: 0.8rem;
            padding: 0;
        }
        p.site-title{
            padding: 0;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: bold;
        a{color: #031248;}
        }
    }
    .col-md-6{ 
        display: inline-block;
        vertical-align: baseline;
        i{
            color: #031248;
        }
        a{
        display: inline-block;
         padding-right:1rem;
          padding-left:1rem;
         font-size: 0.8rem;
        }
    }
}
.navigation{
    .dropdown{
        position: relative;
    }
    .dropdown-content {
        visibility: hidden; /* hides sub-menu */
        opacity: 0;
        position: absolute;
        background-color: #B1E6F4;
        top: 100%;
        left: 0;
        transform: translateY(-2em);
        z-index: -11;
        transition: all 0.8s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
        a {
        float: none;
        color: #031248;
        padding: 0.5rem 1rem ;
        text-decoration: none;
        display: block;
        text-align: left;
        }
        a:hover {
            background-color: #031248;
            color: white;
        }
    }
.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content,
.dropdown:focus .dropdown-content  {
  visibility: visible;
 /* shows sub-menu */
  opacity: 1;
  z-index: 11;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around; 
            padding: 0;       
            align-content: center;
        }
        li{
            text-align: center;
            flex: 1 0 auto;
            list-style: none outside;
            margin-bottom: 0.7rem;
            margin-top: 0.7rem;
            
        }
        li a{
            padding: 0.5rem 1rem;
            border-radius:4rem; 
            color: #031248;
        }
         li a:hover{
            background: white;
            color: red;
        }
        
    }
}
//sass is comming
.site-content {
    display: flex;
    flex-wrap:wrap;
    padding: var(--spacing-site, 2em);
    padding-top: 1rem;
    flex: 1 0 auto;
    margin: 0 auto;    
    a{color: #031248}
}
.end{
    display: flex;
    justify-content: space-around;
}
.site-footer{
    padding-top: 1rem;
    background-color: #031248;
    color: white;
    ul>li>a{
    color: white;
    }
}
ul.posts {
  list-style-type: none;
  padding-left: 0;
    li{
        display: block;
        animation: slideIn 0.6s ease 1 both;
        list-style: none outside;
        padding: 0.5rem 0;
        a{
            display: block;
            text-decoration: none;
            color: black;
        }
        a:hover{
            text-decoration: underline;
            font-weight: bold;
        }
    }
}
 @keyframes slideIn {
  from {
    opacity:0;
    transform: translateX(-5rem);
  }
  to {
     opacity:1;
    transform: translateX(0);
  }
}
ul.posts li:nth-child(2) {
  animation-delay: 0.3s;
}
ul.posts li:nth-child(3) {
  animation-delay: 0.6s;
}
ul.posts li:nth-child(4) {
  animation-delay: 0.9s;
}
ul.posts li:nth-child(5) {
  animation-delay: 1.2s;
}
ul.posts li:nth-child(6) {
  animation-delay: 1.5s;
}
 .why-choose-us{
 display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto ;
  grid-gap: 0.5rem;
   h4{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
   }
  p#photo1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    text-align: center;
    padding-bottom: 1rem;
  }
        background: white;
        border-radius: 3%;
        margin: 0 auto; 
        padding: 1rem 4rem; 
    h4{
        text-align: center;
        padding-bottom: 1rem;
    }
    p{
        font-size: 0.8rem;
    }
}
.left_menu_cont {
    flex: 1 1 12rem;
    border-radius:2rem;
    text-align: center;
    background: #B1E6F4;
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
    margin-top: 0;
    .menu_servis a{
    padding: 1rem;
    }
    .menu_servis a{
     position: relative;
    }
    .menu_servis a:before {
    content: "";
    position: absolute;
    width: 88%;
    height: 0.16rem;
    bottom: 0;
    left: 6%;
    background-color: red;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
    }
    .menu_servis p> a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
div.silva
{
    background: white;
    border-radius:2rem;
    overflow: hidden;
   
    margin-bottom: 1.5rem;
    a{
        font-size: 1.5rem;  
        overflow: hidden;
    }
}
.right_menu_cont {
        flex: 1 1 20rem;
        margin: 1rem;
        margin-top: 0;
    h4{
        text-align: left;
        margin-bottom: 2rem;  
    }
}
.newscats{
    display: none;
}
.footer-links{
    float: right;
    margin-right: 2rem;
}
.container{
        display: grid;
        align-items: center;
        padding: 0;
        margin: 0;
        grid-gap: 1.5rem;
        grid-template-columns: 1fr 3fr 5fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-auto-flow: dense;
       
        .content_element{
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
            text-align: center;
    }
        .message_box{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        } 
        .location{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
            position: relative;
            overflow: hidden;
            iframe{
            display: block;
            width: 100%;
            height: 60vh;        
            }
        }
        .wrapper{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        } 
         .form{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        } 
    }
 
    @media screen and(max-width: 600px){
 .dropdown:hover .dropdown-content {
    display: none !important;
}
    .site-content{
        padding-left:0;
        padding-right:0; 
    }
    .container{
        
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
       
        .content_element{
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
        }
        .message_box{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        } 
        .location{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        }
        .wrapper{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        } 
         .form{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        } 
    }
}

@media screen and(max-width: 350px){
    .site-header div.identity .col-md-6{
    display: none;
     }
     .site-header div.identity .site-branding p.site-description {
         display: none;
     }
     .container{
        grid-gap: 0.5rem;
          grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        .content_element{
            grid-column: 1 / -1;
            grid-row-start: 1;
        }
        .message_box{
             grid-column: 1 / -1;
        grid-row-start: 2;
        } 
        .location{
             grid-column: 1 / -1;
        grid-row-start: 3;
        }
        .wrapper{
        grid-column: 1 / -1;
        grid-row-start: 4;
        } 
         .form{
       grid-column: 1 / -1;
        grid-row-start: 5;
        } 
    }

 }
.devn-form{
    display: flex;
}
.row {
   
    background: #B1E6F4;
    padding: 2rem;
    border-radius:0.7rem; 
    .label{
        display: block;
    }
    section{
    width: fit-content;
    text-align: center;
    }
    selection#beauty div{
        margin: 1rem;
    }
}
