html{
     background-color: lightsalmon;
}
html,body{
    height: 100%;
}
body,
.site{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
ul{
  list-style-type: none;
}
a{
    text-decoration: none;
}

.site-header{
    background-color: orangered;
    color: white;
}
.navigation ul{
    display: flex;
    justify-content: space-around;
}
.navigation ul>li>a{
    color: white;
} 
//sass is comming
.site-content {
	padding: var(--spacing-site, 2em);
}
.site-content{
    flex: 1 0 auto;
}
.site-content {
	max-width: 60rem;
	margin: 0 auto;
}

.site-content a{
    color: black;
}
/*
.site-content ul li a{
    color: black;
}
*/
.site-footer{
  
  bottom: 0;
    background-color: black;
    color: white;
    margin-top: 2rem;;
}

.site-footer ul>li>a{
    color: white;
}

ul.posts {
  list-style-type: none;
}
ul.posts li{
  display: block;
  animation: slideIn 0.6s ease 1 both;
  list-style: none outside;
  padding: 0.5rem 0;
}
ul.posts li a {
    display: block;
    text-decoration: none;
    color: black;
}
 @keyframes slideIn {
  from {
    opacity:0;
    transform: translateX(-5rem);
  }
  to {
     opacity:1;
    transform: translateX(0);
  }
}
ul.posts li:nth-child(2) {
  animation-delay: 0.3s;
}
ul.posts li:nth-child(3) {
  animation-delay: 0.6s;
}
ul.posts li:nth-child(4) {
  animation-delay: 0.9s;
}
ul.posts li:nth-child(5) {
  animation-delay: 1.2s;
}
ul.posts li:nth-child(6) {
  animation-delay: 1.5s;
}
.why-choose-us{
    background: wheat;
    border-radius: 1%;
    margin: 0 auto; 
    padding: 1rem 4rem; 
}
.why-choose-us h4{
    text-align: center;
    padding-bottom: 1rem;
}
.why-choose-us p{
font-size: 0.8rem;
}