html{
     background-color: lightsalmon;
}
html,body{
    height: 100%;
}
ul{
  list-style-type: none;
}
a{
    text-decoration: none;
}
.site-content {
	padding: var(--spacing-site, 2em);
}

.site-content {
	max-width: 60rem;
	margin: 0 auto;
}
.site-header{
    background-color: orangered;
    color: white;
}
.site-footer{
  
  bottom: 0;
    background-color: black;
    color: white;
    margin-top: 2rem;;
}

.navigation ul{
    display: flex;
    justify-content: space-around;
}
.navigation ul>li>a{
    color: white;
} 
.site-footer ul>li>a{
    color: white;
}
.site-content{

}
.site-content ul li a{
    color: black;
}
.site-content a{
    color: black;
}
