
a.cool:link, a.cool:visited {
	position: relative;
	display: block ;
	color: #031248;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.cool:link:after, a.cool:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index:99;
	-webkit-transition: all 1.75s ease 0s;
	-moz-transition: all 1.75s ease 0s;
	-o-transition: all 1.75s ease 0s;
	transition: all 1.75s ease 0s;
}
a.cool:link:hover, a.cool:visited:hover {
	color:red;
	text-shadow: none;
}
a.cool:link, a.cool:visited {
	position: relative !important;
	display: block !important;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}
 
a.cool.work:after {
    background: #031248;
    overflow: hidden;
	opacity: 0.3 !important;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.cool.work:hover:after {
	opacity: 1!important;
	height: 600% !important;
}
span#z{
    z-index: 456;
    position: relative;
}
