<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
    <div class="site">
        <header class="site-header">
            <div class="site-branding">
                <p class="site-title">
                    <a href="{{ site.baseurl }}/"><span><img src="{{ site.baseurl }}/images/logo.png" alt="logo"></span>{{ site.title }}</a>
                </p>
                <p class="site-description">
                    {{site.description}}
                </p>
            </div>
            <nav class="navigation main">
                <ul>
                    <li><a href="{{ site.baseurl }}/">Нашият блог</a></li>
                    <li><a href="{{ site.baseurl }}/about">За нас</a></li>
                    <li><a href="{{ site.baseurl }}/contacts">Контакти</a></li>
                </ul>
            </nav>
        </header>
        <main class="site-content">
            {{content}}
        </main>
        <footer class="site-footer">
            <div class="footer-adress">
                <h4>Адрес<span class="head-line"></span></h4>
                гр. София, ул. Триадица 5Б етаж 4, офис 412
            </div>
            <div class="footer-links">
                <ul>Полезни връзки
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>

</html>